<h1><%= user.username %></h1>


<p><%= user.email %></p>

<% if(locals.isLoggedIn && currentUser.id === user.id ) { %>
<a href="/users/<%= currentUser.id %>/edit" class="button">Edit</a>

<form method="POST" action="/users">
  <input type="hidden" name="_method" value="DELETE">
  <button class="button alert">Delete</button>
</form>
<% } %>

<h4> Current Posts: </h4>
<% posts.forEach((post) => { %>
  <div>
    <div class="card">
        <h2><%= post.type %></h2>
        <a href="/posts/<%= post.id %>">
          <h4><%= post.title %></h4>
        </a>
        <p> Comments: <%= post.comments.length %>
    </div>
  </div>
  <% }) %>
