<h1 class="postIndex"> Posts </h1>
<div class="row postContainer">
<form class="filter postFilter">
  <div>
    <select name="type" id="type" class="form-control" required>
      <option value="all"=>All</option>
      <option value="Question">Question</option>
      <option value="Opinion">Opinion</option>
      <option value="Looking for League">Looking for League</option>
    </select>
  </div>
</form>


<div>

  <% posts.forEach((post) => { %>
    <div>
      <div class="card" data-type="<%= post.type %>">

          <h2 class="postType"><%= post.type %></h2>

        <a href="/posts/<%= post.id %>">
          <h3 class="postTitle"><%= post.title %></h3>
          </a>

          <p><%= post.content %></p>
          <p class="postUser"> Posted by: <a href="/users/<%= post.createdBy.id %>"><%= post.createdBy.username %></a></p>
          <p class="postComments"> Comments: <%= post.comments.length %>
      </div>
    </div>
  <% }) %>
</div>
</div>
