<h1> Posts </h1>

<form class="filter">
  <div>
    <select name="type" id="type" required>
      <option value="all"=>All</option>
      <option value="Question">Question</option>
      <option value="Opinion">Opinion</option>
      <option value="Looking for League">Looking for League</option>
    </select>
  </div>
</form>


<div class="container">
<div class="row">
  <% posts.forEach((post) => { %>
    <div>
      <div class="card" data-type="<%= post.type %>">
        <a href="/posts/<%= post.id %>">
          <h2><%= post.type %></h2>
        </a>
          <h3><%= post.title %></h3>

          <p><%= post.content %></p>
          <p> Posted by: <a href="/users/<%= post.createdBy.id %>"><%= post.createdBy.username %></a></p>
          <p> Comments: <%= post.comments.length %>
      </div>
    </div>
  <% }) %>
</div>
</div>
