<h1>Posts </h1>
<h1><%= post.type %></h1>
<p> Posted by: <a href="/users/<%= post.createdBy.id %>"><%= post.createdBy.username %></p></a>

<h2><%= post.title %></h2>

<p><%= post.content %></h3>




<% if(locals.isLoggedIn && post.belongsTo(currentUser)) { %>
  <a href="/posts/<%= post.id %>/edit" class="btn btn-primary">Edit</a>
            <form method="POST" action="/posts/<%= post.id %>">
              <input type="hidden" name="_method" value="DELETE">
              <button class="btn btn-danger">Delete</button>
            </form>
<%  } %>


<% if(locals.isLoggedIn) { %>
    <section>
      <h4>Leave comment</h4>
      <form method="POST" action="/posts/<%= post.id %>/comments">
      <textarea name="content" id="content" placeholder="Comment"></textarea>
      <button class="button">Leave a comment</button>
      </form>
    </section>
  <% } %>
  <section>
    <h4>Comments</h4>
    <% post.comments.forEach((comment) => { %>
      <p><%= comment.content %></p>
      <small><%= comment.createdBy.username %></small>

      <% if(locals.isLoggedIn && comment.belongsTo(currentUser)) { %>
        <form method="POST" action="/posts/<%= post.id %>/comments/<%= comment.id %>">
          <input type="hidden" name="_method" value="DELETE">
          <button>Delete comment</button>
        </form>
    <%  } %>
  <% }) %>
  </section>
